body{
    background-color: white;
    align-items: center;
    
    display: block;
   
 
}

h1{
    color: red;
    
}
.addreses{
    background-color: greenyellow;
    position: relative;
    

}

